/* Start Main Rules */

body 
{
    
    font-family: 'Raleway', sans-serif;
    font-family: 'Playfair Display', serif;
    font-family: 'Roboto', sans-serif;
    
}

.container { width:1000px; margin:auto; }
.clearfix {clear:both;}

/* End Main rules */
/* Start Header */

.header .slider 
{
    height:500px;
    background:url(../Images/1.jpg);
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
    overflow:hidden;
}

.header .slider .intro 
{
    padding-top:150px;
    margin:0 auto;
    text-align:center;
    color:#000;
    
}

.header .slider .intro h2
{
    text-transform:uppercase;
    margin:auto;
    text-align:center;
    font-size:30px;
    width:450px;
    border-top: 3px solid #000;
    border-bottom:3px solid #000;
    padding:5px 0;
    
}

.header .slider .intro button
{
    padding:10px 22px;
    background:none;
    border: 2px solid #8B8BAA;
    margin-top:25px;
    font-weight:bold;
   
    
}

.header .slider .intro button:hover
{
    padding:7px 15px;
    cursor: pointer;
    
}


.header .navbar
{
    background:#0c3b0a;
    overflow:hidden;
    
}

.header .navbar h2 
{
    color:#FFF;
    font-family:sans-serif;
    font-size:bold;
    text-transform:uppercase;
    
}

.header .navbar h2 span 
{
    color:#2fb66b;
    
}


.header .navbar ul 
{
    color:#FFF;
    padding:0;
    float:right;
    text-transform:capitalize;  
    
}

.header .navbar ul li a 

{
    text-decoration:none;
    color:#fff;
}

.header .navbar ul .active a,
.header .navbar ul li a:hover 

{
    color:#1b9850;
}


.header .navbar ul li 
{
    list-style:none;
    float:left;
    padding:10px;

}


/* End Header */
/* Start Features */ 


.features 
{
    
    overflow:hidden;
    padding-top:40px;
    padding-bottom:50px;

}

.features .feat h2{ text-transform: uppercase;}

.features .feat p
{
    color:#777;
    line-height: 1.5;
    padding:0 20px 0 0;
}
    

.features .feat 
{
    width:33.3333%;
    height:190px;
    text-align:justify;
}

/* End Features */
/* Start about me */ 


.about-me {background-color:#F2F2F2;overflow:hidden}

.about-me .image {width:40%}

.about-me .image img {width:100%}

.about-me .info {width:60%}

.about-me .info h2 {margin:25px 0 20px 40px}

.about-me .info > p {margin:0 0 10px 40px}

.about-me .info > p:last-of-type {margin-top:25px}

.about-me .info .hobbies {overflow:hidden;margin:15px 0 0 40px}

.about-me .info .hobbies .content {width:50%;overflow:hidden}

.about-me .info .hobbies .content .icon {width:12%;margin-right:5%}

.about-me .info .hobbies .content .icon i {margin-top:30px;color:#2DCC70}

.about-me .info .hobbies .content .text {width:83%}

.about-me .info .hobbies .content .text p {margin-top:0}

.about-me .info .hobbies .content .text h3 {margin-bottom:5px}

/* End about me */
/* Start My Skills */ 



.my-skills 
{
    
    padding-top:30px;
    padding-bottom:30px;
    overflow:hidden;
    
}

.my-skills .skills button
{

    margin-top:20px;
    margin-left:20px;
}
.my-skills .skills p
{
    color:#666;
    text-align:justify;
    line-height:1.7;
    font-size:14px;
    margin:0 auto 0 20px;
}
.my-skills .skills h2
{
    margin:0 auto 20px 20px;
}


.my-skills .skills,
.my-skills .progress
{

    width:50%;
}

.my-skills .progress .technique
{
    color:#555;
    margin-left:40px;
}
.my-skills .progress .technique div
{
    background:#ededed;
    height:20px;
}

.my-skills .progress .technique div span
{
    background:#05a205;
    height:20px;
    line-height: 20px;
    font-size:14px;
    display:block;
    color:#fff;
    font-weight:bold;
    text-align:right;
    
}




/* End My Skills */
/* Start Resume */ 

.resume 
{
    background-color:#f2f2f1;
    padding-top:50px;
    padding-bottom:70px;
    overflow:hidden;
            
}
.resume  button
{
    margin-top:20px;
    margin-bottom:20px;
}


.resume h2
{
    color:#555;
    text-transform: uppercase;
    
}

.resume p
{
    color:#777;
    line-height:1.4;
}
.resume .container
{
    text-align:center;
    
}

/* End Resume */ 
/* Start My Education */ 



.my-education 
{
    
    padding-top:30px;
    padding-bottom:30px;
    overflow:hidden;
    
}
.my-education p {   color:#888; line-height:1.5; text-align:justify; font-size:14px;  }

.my-education .main { width:45%; margin-right:50px; }

.my-education .exp { width:45%;float:left }

hr { background:#cbc6c6; border:1px solid #cbc6c6; }

.my-education .exp h3 {margin-top:66px; color:#666;}

.my-education .exp span { display:inline-block;}

.my-education .exp span:first-of-type { display:block; color:#777; font-size:14px; }

.my-education .exp span:last-of-type
{
    background:#2eb22e;
    margin-top:10px;
    margin-bottom:15px;
    color:#fff;
    padding:5px;
    
}



/* End My Education */
/* Start Testimonials */ 


.testimonlials 
{
    background:#f2f2f1;
    padding-top:80px;
    padding-bottom:80px;
    overflow:hidden;
            
}
.testimonlials .container ul
{
    list-style:none;
    padding-left:0;
    text-align:center;
}

.testimonlials .container ul li
{
    height:10px;
    width:10px;
    border:2px solid #2dcc70;
    display:inline-block;
}

.testimonlials .container ul .active,
.testimonlials .container ul li:hover
{
    background:#2dcc70;
    cursor:pointer;
}


.testimonlials q
{
    color:#999;
    font:italic bold 16px/1.7 Arial;
}

.testimonlials h4
{
    text-transform: uppercase;
    color:#444;
}

.testimonlials .container
{
    text-align:center;
    
}


/* End Testimonials */
/* Start Portfolio */

.portfolio 
{
    padding-top:40px;
    padding-bottom: 40px;
    text-align:center;
}

.portfolio h2 
{
    color:#555;
    text-transform:uppercase;
}

.portfolio p 
{
    margin-bottom:70px;
    line-height:1.6;
    font-size:14px;
    color:#777;
      
}

.portfolio .our-work
{
    overflow:hidden;
}

.portfolio .our-work img:hover
{
    cursor:pointer;
    background: rgba(80, 80, 80, 0.5);
    
}

.portfolio .our-work > div
{
    float:left;
    width:33.33333%;
    margin-bottom:10px;
}

.portfolio .our-work > div img
{
    width:92%;
    border:1px solid #fff;
    padding:3px;
    
}


/* End Portfolio */
/* Start Contact Me */

.contact
{
    background:#252f31;
    overflow:hidden;

    
}

.contact h2
{
    color:#fff;
    margin-left:40px;
    margin-top:80px;
    text-transform:uppercase;
}

.contact .contact-me
{

    width:50%;
    
}
.contact .contact-me strong
{
    color:#fff;
}

.contact .contact-me p 
{
    color:#6e7779;
    margin-left:40px;
    text-align:justify;
    line-height:1.6;
    font-size:13px;
}

.contact .form
{
    float:right;
    margin-top:80px;
    display:block;
    width:45%;
    margin-left:5%
    
    
}

.contact .form label

{
    color:#f8f6f6;
    display:block;
    margin-bottom:10px;
   font-size:14px;
}

.contact .form input[type="text"]
{
    background:#4b5557;
    color:#fff;
    border:none;
    width:80%;
    height:30px;
    margin:12px 0 12px 0;
}

.contact .form textarea
{
    width:80%;
    height:200px;
    color:#fff;
    background:#4b5557;
    border:none;
    margin-bottom:30px;
}

.contact .form input[type="submit"]
{
    background:#000;
    color:#fff;
    text-transform:uppercase;
    border:none;
    margin-bottom:80px;
    height:40px;
}


/* End Contact Me */
/* Start footer */

.footer
{
    background:#191e22;
    color:#6e7779;
    text-align:center;
    padding:20px 0;
    font-size:11px;
}

.footer ul
{
    list-style:none;
    padding-left:0;
    
}
.footer ul li {display:inline-block;  }
.footer ul li a {text-decoration:none;}
.footer ul li a, 
.footer ul li:hover  {color:#fff;}

/* End footer*/ 

/* Start My Framework */

.my-button

{
    border: 2px solid #2dcc70;
    height:;
    background:none;
    color:#2dcc70;
    font-weight: bold;
    text-transform: uppercase;
    padding:10px 20px;

}

/* Floating elements Float left */

.fl-left

{
    float:left;
}

/* Floating elements Float left */

/* End My Framework */ 


